https-proxy=http://gmer:Elly2016@proxy.hcuge.ch:8080/
proxy=http://gmer:Elly2016@proxy.hcuge.ch:8080/
no-proxy=http://129.195.13.159:8081/nexus/repository/npm-all/
name=killing.joke.ch
_auth="a2lsbGluZy5qb2tlLmNoOmtpbGxpbmcxMjM0IA0K"
email=killing.joke.ch@gmail.com
always-auth=true
strict-ssl=false
//registry.npmjs.org/:_authToken=df138e91-bc9b-422c-b3ae-3bfbab1a564a

registry=http://registry.npmjs.org/
@deja-js:registry=https://registry.npmjs.org/

loglevel=silly